@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Your own custom component styles */

#message-container {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

#message-container::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

@import 'tailwindcss/utilities';
